div.main{
    margin: 100px;
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: burlywood;
}

div.sol{
    width: 40%;
    height: 100%;
    background-color: aqua;
    float: left;
}

div.sag{
    width: 56%;
    height: 96%;
    background-color: yellow;
    float: left;
    padding: 10px;
}

div.sag_ust{
    width: 100%;
    height: 40%;
    background-color: green;
}

div.sag_orta{
    width: 100%;
    height: 20%;
    background-color: pink;
}

div.sag_alt{
    width: 93%;
    height: 36%;
    padding: 10px;
    background-color: purple;
}

div.sag_alt_sol{
    width: 33.3%;
    height: 100%;
    background-color: orange;
    float: left;
}

div.sag_alt_orta{
    width: 33.3%;
    height: 100%;
    background-color: red;
    float: left;
}

div.sag_alt_sag{
    width: 33.3%;
    height: 100%;
    background-color: aqua;
    float: left;
}